<!DOCTYPE HTML>
{% load static %}
<html lang="en">
  
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css'%}">
  
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    
    <title>Resume</title>
</head>
<br>
  <nav class="navbar navbar-expand-lg navbar-light fixed-top nav_style">
    <a class="navbar-brand" href="#">
      <i class="material-icons left-align emoji">emoji_people</i>
    </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="#"><h3><b>AmanKumarSahani</b></h3></a>
    
      <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
        <ul class="navbar-nav ml-auto pr-5 mt-lg-0 hov_er">
          <li class="nav-item active">
            <a class="nav-link pl-3" href="#"><h3>Home</h3> <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link pl-3" href="{% static 'resume.html'%}"><h3>Portfolio</h3></a>
          </li>
        </ul>
      </div>
    </nav>
<body>
    <div id = "parallax-images1">
      <div class="row h-100">
        <div class="col-md-12 align-self-center">
          <h1 class = "text-center textsh">“ Digital design is like painting, except that the paint never dries.”</h1>
        </div>
      </div>
    </div>

    <div class="container-fluid present image">
      <br><br><br>
      <p class = "text-center">
        Iam Student from <b>NATIONAL INSTITUTE OF TECHNOLOGY SIKKIM</b> in Computer Science Department.
        <br>Presently in third year.
        <br><br><br>  
      </p>
    </div><br>
    <div id = "parallax-images2">
      <div class="row h-100">
        <div class="col-md-12 align-self-center">
          <h1 class = "text-center">Objective...!!!</h1><br>
          <h1 class = "text-center pr-10 ">"Seeking a position to utilize my skills and abilities in the Information Technology that offers
             professional growth while being resourceful, innovative, and flexible".</h1>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row justify-content-center">
        <h1>Courses that I opt...</h1>
      </div><br>
      <div class="row">
        <!-- Column 1 -->
        <div class="col-md-4 ">
          <div class="card effect" style="width:18rem;">
            <img class="card-img-top" src="{% static 'images/images.jpeg'%}" style="height:9rem;" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Programming for Everybody (Getting Started with Python)</h5>
              <p class="card-text">An online non-credit course authorized by University of Michigan and offered through
                Coursera and Scored <b>'A'</b> grade in it.</p>
            </div>
            <div class="card-body">
                <a href="https://www.coursera.org/account/accomplishments/certificate/Z88YGSYK5HW9" target = "blank" class = "btn btn-lg btn-dark">View Certificate</a>
            </div>
          </div>
        </div>
        <!-- Column2 -->
        <div class="col-md-4">
          <div class="card effect" style="width: 18rem;">
            <img class="card-img-top" src="{% static 'images/htmlcss.jpeg'%}" style="height: 12rem;" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">HTML5 & CSS</h5>
              <p class="card-text">An online non-credit course authorized by University of Michigan and offered through
                Coursera and Scored <b>"S</b> Grade in it.</p>
            </div>
            
            <div class="card-body">
              <a href="https://www.coursera.org/account/accomplishments/certificate/UA4EN2X9XLJL" target= "blank" class = "btn btn-lg btn-dark">View Certificate</a>
            </div>
          </div>
        </div>
        <!-- Column 3 -->
        <div class="col-md-4">
          <div class="card effect" style="width: 18rem;">
            <img class="card-img-top" src="{% static 'images/dsapy.jpeg'%}" style="height: 12rem;" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Python Data Structure</h5>
              <p class="card-text">An online non-credit course authorized by University of Michigan and offered through
                Coursera and Scored <b>"S</b> Grade in it.</p>
            </div>
            <div class="card-body">
              <a href="https://www.coursera.org/account/accomplishments/certificate/HARHXKHED78V" class = "btn btn-lg btn-dark" target = "blank">View Certificate</a>
            </div>
          </div>
        </div>
        
      </div>
    </div>
    <br><br><br>
    <div    id = "parallax-images2">
      <div class="row h-100">
        <div class="col-md-12 align-self-center">
          
          <!-- <h1 class = "text-center pr-10 "></h1> -->
        </div>
      </div>
    </div>
    <div class="container intern">
      <div class="row justify-content-center">
        <h1>Internships & Trainings</h1>
      </div><br>
      <div class="row">
        <!-- Column 1 -->
        <div class="col-md-7">
          <div class="card effect" style="width:20rem;">
            <img class="card-img-top" src="{% static 'images/Nelit.jpeg'%}" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Training in Python</h5>
              <p class="card-text">"I have successfully completed the training of 1 month in <b>Python</b> at the National Institute of Electronics 
                & Information Technology, Gangtok Sikkim."<b></b></p>
            </div>
            <div class="card-body">
              <a href="" class = "btn btn-dark btn-lg">View Certificate</a>
            </div>
          </div>
        </div>
        <!-- Column2 -->
        <div class="col-md-5">
          <div class="card effect" style="width: 18rem;">
            <img class="card-img-top" src="{% static 'images/jdmr.jpeg'%}"style="height: 11rem;" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Internship In JDMR Pvt. Ltd.</h5>
              <p class="card-text">I have successfully completed the Internships(virtually) during this period  from
                12 March to 11 july as a Full Stack Developer
                I have worked on the "<b>SCHOOL ERP SYSTEM</b>"
                </p>
            </div>
            <div class="card-body">
              <a href="" class = "btn btn-dark btn-lg">Veiw Certificate</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br><br>
   
    <!-- Footer -->
    <footer class = " container-fluid ">
      <div class ="footer_style text_white text-center container fluid">
          <p>Internship Task Foxiar</p>
      </div>        
  </footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'js/bootstrap.min' %}">
</body>
</html>